.landing-page-image {
	width: 100%;
	cursor: pointer;
}

.full-image {
	padding: 0px 10px 10px 10px;
}

.heading {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.spacer {
	height: 10px;
}